.customSelectContainer {
    display: inline-block;
    cursor: pointer;
    //cursor: hand;
}
.customSelectText,
.customSelectLeft,
.customSelectRight,
.customSelectBack,
.customSelectScroll,
.customSelectArrow {
	display: block;
}
.customSelectBack {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d2d1d0;
	-webkit-box-shadow: 0 3px 8px #adadac;
	box-shadow: 0 3px 8px #adadac;
    padding: 4px 8px 5px;
}
.customSelectArrow {
	font-size: 16px;
}
.customSelectOptions {
	position: absolute;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
	margin: -27px 0 0;
	-webkit-box-shadow: 0 3px 8px #adadac;
	box-shadow: 0 3px 8px #adadac;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.customSelectScroll {}
.customSelectOption {
	display: block;
	font-size: 16px;
	padding: 3px 9px 4px;
	border-bottom: 1px solid #d1d1d1;
}
.customSelectOption:last-child {
	border-bottom: 0;
}